@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-color: #141618 ;
}
/*HEADER INICIO*/
header{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
header h1{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    background: linear-gradient(89.65deg, #4896B4 2.98%, #9C42D5 176.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
}
.navbar{
    display: none;
    flex-direction: column;
    width: 75vw;
    height: 92vh;
    margin-left: 25vw;
    align-items: flex-end;
    position: absolute;
    transition: 0.25s;
    background:#141618 ;
}
.navbar-menu--ativo{
    display: flex;
    transition: 0.25s;
}
.navbar__link{
    height: 64px;
    padding-right: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #A9A9A9;
}
.navbar__link::after{
    content: url("/Images/homenavbar.svg");
    position: absolute;
    right: 20px;
}
.navbar__link--quemsoueu::after{
    content: url("/Images/quemsoueunavbar.svg");
}
.navbar__link--trajetoria::after{
    content: url("/Images/trajetorianavbar.svg");
}
.navbar__link--projeto::after{
    content: url("/Images/projetosnavbar.svg");
}
.navbar__link--contato::after{
    content: url("/Images/contatonavbar.svg");
}
/*HEADER FIM*/

/*PRINCIPAL INICIO*/
#principal{
    height: 100vh;
    padding: 5%;
}
.principal__conteudo{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.principal__conteudo__imagem{
    height: 320px;
}
.principal__conteudo h1{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    text-align: center;
    background: linear-gradient(163.72deg, #59C2E8 51.33%, #9C42D5 88.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-top: 5%;
}
.principal__conteudo p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    background: linear-gradient(180deg, #59C2E8 0%, #9C42D5 101.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
    padding:5%;
    padding-bottom: 10%;
}
.principal__conteudo button{
    background: linear-gradient(90deg, #59C2E8 0%, #9C42D5 100%);
    border-radius: 15px;
    width: 232px;
    height: 52px;
    border: none;
}
.principal__conteudo button a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}
/*PRINCIPAL FIM*/

/*QUEM SOU EU INICIO*/
#quemsoueu{
    height: 100vh;
}
.quemsoueu__conteudo{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
}
.quemsoueu__conteudo__imagem{
    height: 320px;
}
.quemsoueu__conteudo h1{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(0deg, #59C2E8, #59C2E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
    padding-bottom: 5%;
}
.quemsoueu__conteudo p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background: linear-gradient(180deg, #59C2E8 0%, #9C42D5 101.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
    padding:5%;
}
/*QUEM SOU EU FIM*/

/*TRAJETORIA INICIO*/
#trajetoria{
    height: 100vh;
    padding:5%;
    box-sizing: border-box;
}
.trajetoria__titulo{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(0deg, #59C2E8, #59C2E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
    padding-bottom: 10%;
}
.trajetoria__conteudo{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.trajetoria__conteudo__cartao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.trajetoria__conteudo__cartao p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}
.trajetoria__conteudo__cartao img{
    justify-self: center;
    height: 120px;
}
/*TRAJETORIA FIM*/